<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Easy</key>
	<dict>
		<key>Sentence 0</key>
		<dict>
			<key>Set</key>
			<string>1</string>
			<key>IncorrectCount</key>
			<string>1</string>
			<key>correct</key>
			<string>Once upon a time there was an old woman who loved baking gingerbread.</string>
			<key>Incorrect</key>
			<string>once upon a time there was an old woman who loved baking gingerbread.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase.</string>
			<key>category</key>
			<string>easy</string>
		</dict>
		<key>Sentence 1</key>
		<dict>
			<key>Set</key>
			<string>1</string>
			<key>IncorrectCount</key>
			<string>2</string>
			<key>correct</key>
			<string>The little gingerbread man was confused. He knew that his butterfly friend had good intentions but could she really carry him?</string>
			<key>Incorrect</key>
			<string>the little gingerbread man was confused. he knew that his butterfly friend had good intentions but could she really carry him?</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in both 1st and 2nd sentences.</string>
			<key>category</key>
			<string>easy</string>
		</dict>
		<key>Sentence 2</key>
		<dict>
			<key>Set</key>
			<string>1</string>
			<key>IncorrectCount</key>
			<string>3</string>
			<key>correct</key>
			<string>This is an elephant. They are very big animals and have a long memory, and a very long nose called a trunk. They make a trumpet sound.</string>
			<key>Incorrect</key>
			<string>this is an elephant. they are very big animals and have a long memory, and a very long nose called a trunk. they make a trumpet sound.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in both 1st, 2nd and last sentences.</string>
			<key>category</key>
			<string>easy</string>
		</dict>
		<key>Sentence 3</key>
		<dict>
			<key>Set</key>
			<string>1</string>
			<key>IncorrectCount</key>
			<string>3</string>
			<key>correct</key>
			<string>Little Miss Mary was a chip off the block. If she could shop, she would shop and right round the clock.</string>
			<key>Incorrect</key>
			<string>little Miss Mary was a chip off the block. if she could shop  she would shop and right round the clock.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in both 1st and 2nd sentences. Comma (,) missing after shop in 2nd sentence.</string>
			<key>category</key>
			<string>easy</string>
		</dict>
		<key>Sentence 4</key>
		<dict>
			<key>Set</key>
			<string>1</string>
			<key>IncorrectCount</key>
			<string>2</string>
			<key>correct</key>
			<string>Little Miss Mary made her Daddy proud.</string>
			<key>Incorrect</key>
			<string>Little Miss mary made her daddy proud.</string>
			<key>tip</key>
			<string>First character of the first word and sixth word should be upperCase.</string>
			<key>category</key>
			<string>easy</string>
		</dict>
		<key>Sentence 5</key>
		<dict>
			<key>Set</key>
			<string>1</string>
			<key>IncorrectCount</key>
			<string>2</string>
			<key>correct</key>
			<string>Along with his words came the strange sounds of swooshing, clanking and slapping.</string>
			<key>Incorrect</key>
			<string>along with his words came the strange sounds of swooshing, clanking and slapping </string>
			<key>tip</key>
			<string>First character of the first word should be upperCase. Period (.) missing at the end of the sentence.</string>
			<key>category</key>
			<string>easy</string>
		</dict>
		<key>Sentence 6</key>
		<dict>
			<key>Set</key>
			<string>1</string>
			<key>IncorrectCount</key>
			<string>2</string>
			<key>correct</key>
			<string>The beaver colony was neither large nor small, having three families and ten members, and like all beaver they worked very hard to dam the small river. </string>
			<key>Incorrect</key>
			<string>the beaver colony was neither large nor small, having three families and ten members, and like all beaver they worked very hard to dam the small river </string>
			<key>tip</key>
			<string>First character of the first word should be upperCase. Period missing at the end of the sentence.</string>
			<key>category</key>
			<string>easy</string>
		</dict>
	</dict>
	<key>Medium</key>
	<dict>
		<key>Sentence 0</key>
		<dict>
			<key>Set</key>
			<string>2</string>
			<key>IncorrectCount</key>
			<string>2</string>
			<key>correct</key>
			<string>Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting.</string>
			<key>Incorrect</key>
			<string>once upon a time there was an old woman who loved baking gingerbread. she would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in both 1st and 2nd sentences.</string>
			<key>category</key>
			<string>medium</string>
		</dict>
		<key>Sentence 1</key>
		<dict>
			<key>Set</key>
			<string>2</string>
			<key>IncorrectCount</key>
			<string>1</string>
			<key>correct</key>
			<string>Her godmother only just touched her with her wand, and, at the same instant, her clothes were turned into cloth of gold and silver, all beset with jewels. This done, she gave her a pair of glass slippers, the prettiest in the whole world.</string>
			<key>Incorrect</key>
			<string>her godmother only just touched her with her wand, and, at the same instant, her clothes were turned into cloth of gold and silver, all beset with jewels. This done, she gave her a pair of glass slippers, the prettiest in the whole world.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in 1st sentence.</string>
			<key>category</key>
			<string>medium</string>
		</dict>
		<key>Sentence 2</key>
		<dict>
			<key>Set</key>
			<string>2</string>
			<key>IncorrectCount</key>
			<string>2</string>
			<key>correct</key>
			<string>He obliged Cinderella to sit down, and, putting the slipper to her foot, he found it went on very easily, and fitted her as if it had been made of wax. The astonishment her two sisters were in was excessively great, but still abundantly greater when Cinderella pulled out of her pocket the other slipper, and put it on her foot.</string>
			<key>Incorrect</key>
			<string>he obliged Cinderella to sit down, and, putting the slipper to her foot, he found it went on very easily, and fitted her as if it had been made of wax. the astonishment her two sisters were in was excessively great, but still abundantly greater when Cinderella pulled out of her pocket the other slipper, and put it on her foot.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in both 1st and 2nd sentences.</string>
			<key>category</key>
			<string>medium</string>
		</dict>
		<key>Sentence 3</key>
		<dict>
			<key>Set</key>
			<string>2</string>
			<key>IncorrectCount</key>
			<string>3</string>
			<key>correct</key>
			<string>Once a little Mouse who lived in the country invited a little Mouse from the city to visit him. When the little City Mouse sat down to dinner he was surprised to find that the Country Mouse had nothing to eat except barley and grain.</string>
			<key>Incorrect</key>
			<string>once a little mouse who lived in the country invited a little Mouse from the city to visit him. when the little City Mouse sat down to dinner he was surprised to find that the Country Mouse had nothing to eat except barley and grain.</string>
			<key>tip</key>
			<string>First character of the first and 4th word should be upperCase in 1st sentence. First character of first word should be in upperCase in 2nd sentence.</string>
			<key>category</key>
			<string>medium</string>
		</dict>
		<key>Sentence 4</key>
		<dict>
			<key>Set</key>
			<string>2</string>
			<key>IncorrectCount</key>
			<string>3</string>
			<key>correct</key>
			<string>The very first place that the City Mouse took the Country Mouse to see was the kitchen cupboard of the house where he lived.  There, on the lowest shelf, behind some stone jars, stood a big paper bag of brown sugar.</string>
			<key>Incorrect</key>
			<string>The very first place that the city Mouse took the country Mouse to see was the kitchen cupboard of the house where he lived.  there, on the lowest shelf, behind some stone jars, stood a big paper bag of brown sugar.</string>
			<key>tip</key>
			<string>The first character of words city and country should be uppercase. first character in the first word of the last sentence should in uppercase.</string>
			<key>category</key>
			<string>medium</string>
		</dict>
		<key>Sentence 5</key>
		<dict>
			<key>Set</key>
			<string>2</string>
			<key>IncorrectCount</key>
			<string>1</string>
			<key>correct</key>
			<string>The two little mice nibbled and nibbled, and the Country Mouse thought he had never tasted anything so delicious in his life.  He was just thinking how lucky the City Mouse was, when suddenly the door opened with a bang, and in came the cook to get some flour.</string>
			<key>Incorrect</key>
			<string>The two little mice nibbled and nibbled, and the Country Mouse thought he had never tasted anything so delicious in his life.  he was just thinking how lucky the City Mouse was, when suddenly the door opened with a bang, and in came the cook to get some flour.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in 2nd sentence.</string>
			<key>category</key>
			<string>medium</string>
		</dict>
		<key>Sentence 6</key>
		<dict>
			<key>Set</key>
			<string>2</string>
			<key>IncorrectCount</key>
			<string>2</string>
			<key>correct</key>
			<string>What exactly was the great ping pong ball experiment anyway? How was the experiment to be performed, and what was it supposed to show? The great ping pong ball experiment took place to show just one thing. The purpose of the experiment was to show that a small, frail ping pong ball could travel four thousand miles down the longest river in the world.</string>
			<key>Incorrect</key>
			<string>What exactly was the great ping pong ball experiment anyway? How was the experiment to be performed, and what was it supposed to show  The great ping pong ball experiment took place to show just one thing. the purpose of the experiment was to show that a small, frail ping pong ball could travel four thousand miles down the longest river in the world.</string>
			<key>tip</key>
			<string>Missing question mark (?) in 2nd sentence. 1st character of the first word in last sentence should be uppercase.</string>
			<key>category</key>
			<string>medium</string>
		</dict>
	</dict>
	<key>Advance</key>
	<dict>
		<key>Sentence 0</key>
		<dict>
			<key>Set</key>
			<string>3</string>
			<key>IncorrectCount</key>
			<string>8</string>
			<key>correct</key>
			<string>When the Hare awoke from his nap, he saw the Tortoise just near the winning-post. The Hare ran as fast as he could, but it was too late. He saw the Tortoise had reached the goal.</string>
			<key>Incorrect</key>
			<string>when the hare awoke from his nap  he saw the tortoise just near the winning-post. the hare ran as fast as he could, but it was too late. he saw the Tortoise had reached the goal </string>
			<key>tip</key>
			<string>1st character of first,third,eleventh words should be upperCase in 1st sentence. Missing comma(,) after 7th word in 1st sentence. 1st character of first,second words should be uppercase in 2nd sentence. 1st character of first word should be uppercase in 3nd sentence. Missing Period(.) at the end of 3rd sentence.</string>
			<key>category</key>
			<string>advance</string>
		</dict>
		<key>Sentence 1</key>
		<dict>
			<key>Set</key>
			<string>3</string>
			<key>IncorrectCount</key>
			<string>4</string>
			<key>correct</key>
			<string>The little gingerbread man was confused. He knew that his butterfly friend had good intentions but could she really carry him? He doubted it. Her wings were so thin and delicate. The thought of him falling into the cold water and crumbling to damp bits was frightening. </string>
			<key>Incorrect</key>
			<string>the little gingerbread man was confused. he knew that his butterfly friend had good intentions but could she really carry him  He doubted it. Her wings were so thin and delicate. The thought of him falling into the cold water and crumbling to damp bits was frightening.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in both 1st, 2nd and last sentences. Missing question mark (?) in 2nd sentence.</string>
			<key>category</key>
			<string>advance</string>
		</dict>
		<key>Sentence 2</key>
		<dict>
			<key>Set</key>
			<string>3</string>
			<key>IncorrectCount</key>
			<string>3</string>
			<key>correct</key>
			<string>This is an elephant. They are very big animals and have a long memory, and a very long nose called a trunk. They make a trumpet sound.</string>
			<key>Incorrect</key>
			<string>this is an elephant. they are very big animals and have a long memory, and a very long nose called a trunk  They make a trumpet sound.</string>
			<key>tip</key>
			<string>First character of the first word should be upperCase in both 1st, 2nd and last sentences. Missing period mark (.) in 2nd sentence.</string>
			<key>category</key>
			<string>medium</string>
		</dict>
		<key>Sentence 3</key>
		<dict>
			<key>Set</key>
			<string>3</string>
			<key>IncorrectCount</key>
			<string>5</string>
			<key>correct</key>
			<string>Little Miss Mary was a chip off the block. If she could shop, she would shop and right round the clock!Three-sixty a year and twenty-four-seven, Impressive for someone who just turned eleven.</string>
			<key>Incorrect</key>
			<string>little miss mary was a chip off the block. if she could shop  she would shop and right round the clock!Three-sixty a year and twenty-four-seven, Impressive for someone who just turned eleven.</string>
			<key>tip</key>
			<string>First character of the first, second and third word should be upperCase in 1st sentence. First character of the first word should be upperCase in 2nd sentence. Comma (,) missing after fourth word in 2ns sentence.</string>
			<key>category</key>
			<string>advance</string>
		</dict>
		<key>Sentence 4</key>
		<dict>
			<key>Set</key>
			<string>3</string>
			<key>IncorrectCount</key>
			<string>7</string>
			<key>correct</key>
			<string>Little Miss Mary made her Daddy proud. By jumping in queues and by pushing through crowds, by spending his money in all sorts of places. From Moscow to Paris, from Harrods to Macy&apos;s.</string>
			<key>Incorrect</key>
			<string>little Miss mary made her daddy proud. by jumping in queues and by pushing through crowds  by spending his money in all sorts of places. From moscow to paris, from Harrods to Macy&apos;s.</string>
			<key>tip</key>
			<string>First character of the first, third and sixth word should be upperCase in 1st sentences. First character of first word should be upperCase in 2nd sentence. Missing comma(,) after ninth word in 2nd sentence. First character of second and fourth word should be in upperCase in last sentence.</string>
			<key>category</key>
			<string>advance</string>
		</dict>
		<key>Sentence 5</key>
		<dict>
			<key>Set</key>
			<string>3</string>
			<key>IncorrectCount</key>
			<string>4</string>
			<key>correct</key>
			<string>Luckily for George and his empty stomach, they headed out to buy the groceries. The man stopped in front of a market. He said, &quot;I&apos;ll go in here and buy eggs while you get the donuts. Okay?&quot;</string>
			<key>Incorrect</key>
			<string>luckily for george and his empty stomach, they headed out to buy the groceries. the man stopped in front of a market. He said, &quot;I&apos;ll go in here and buy eggs while you get the donuts. Okay &quot;</string>
			<key>tip</key>
			<string>First character of the first and third word should be upperCase in 1st sentence. First character of the first word should be uppercase in 2nd sentences. Missing question mark (?) after last word in last sentence.</string>
			<key>category</key>
			<string>advance</string>
		</dict>
		<key>Sentence 6</key>
		<dict>
			<key>Set</key>
			<string>3</string>
			<key>IncorrectCount</key>
			<string>4</string>
			<key>correct</key>
			<string>At first George thought he was safe from the donut delivery. He sat down to catch his breath after running all the way home. But it wasn&apos;t long before the doorman showed the D family right up to his apartment!</string>
			<key>Incorrect</key>
			<string>at first george thought he was safe from the donut delivery  He sat down to catch his breath after running all the way home. but it wasn&apos;t long before the doorman showed the D family right up to his apartment!</string>
			<key>tip</key>
			<string>First character of the first and third word should be upperCase in 1st sentence. Missing period (.) at the end of 1st sentence. First character of the first word should be upperCase in the last sentence. </string>
			<key>category</key>
			<string>advance</string>
		</dict>
	</dict>
</dict>
</plist>
